<h2> Welcome, <%= current_user.username %></h2>

<a href="/listings"><input type="button" value="Home"> </a><br>

<h3> Messages: </h3>
    <% if @messages.empty? %>
    <h3 style="color:red;">No messages!</h3>
    <% else %>
            <p><% @messages.each do |m| %>
            <div>
              <%= m.content %>
          

              From user, <%= m.user.username %>
            </div>
        <%end%>

 <% end %>   



</p>
<a href="/messages/new"><input type="button" value="Reply"></a><br><br>
<a href="/logout"><input type="button" value="Log Out"></a><br>