<h2> <%= current_user.username %>, your New Message: </h2>
<p><%= @message.content %></p>

<form method="POST" action="/messages/<%= @message.id %>">
    <input id="hidden" type="hidden" name="_method">
    
</form>
<a href="/listings"><input type="button" value="Home"> </a>