<h2> Your New Message: </h2>
<p><%= @message.cont %></p>

<form method="POST" action="/messages/<%= @message.id %>">
    <%# <input id="hidden" type="hidden" name="_method" value="Delete"> %>
    
</form>