<h1>Create your listing below</h1>
  <form action="/listings" method="POST">
    <p>New Listing: 
    <input type="text" name="content"></p>
    <br>
    <input type="submit" value="Submit">
  </form>