<h1>Create your listing below</h1>
  <form action="/listings" method="POST">
    <p>
    Title:  <input type="text" name="title" style="width:800px;"></p>
    <br>
    Year:   <input type="text" name="year"><br><br>
    Make:   <input type="text" name="make"><br><br>
    Model:  <input type="text" name="model"><br><br>
    Miles:  <input type="text" name="miles"><br><br>
    Engine: <input type="text" name="engine"><br><br>
    Description:<br>
    <input type="text" name="content" style="height:120px; width:800px;"><br><br>
     
    <input type="submit" value="Submit">
  </form>