<h2> Edit Listing </h2>

<form method="post" action="/listings/<%=@listing.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="content" value="<%= @listing.content %>">
    <input type="submit" value="Submit">
</form>