<h2> Welcome, <%= current_user.username %></h2>
<h3> Here are you can see all your current listings: </h3>

<p><% @listings.each do |listing| %>
        <p>
            <div>
                <ul>
                    <li><a href="/listings/<%= listing.id %>"><%= listing.title %></a></li>
                </ul>
            </div>
        </p>
     
<%end%>

<a href="/listings/new"><input type="button" value="Create New Listing"></a><br><br> 
<a href="/logout"><input type="button" value="Log Out"></a><br>