<h2> Welcome, <%= current_user.username %></h2>
<h3> Your Listings </h3>

<p><% @listings.each do |listing| %>
    
    <% if !listing.content.empty? %>
      <div>
      <%= listing.content %>
      </div>
    <%else%>
      <h1>No listings!</h1>
    <%end%>
     
<%end%>
<a href="/listings/new">Create New Listing</a><br>
<a href="/logout">Log Out</a><br>