<h2> Welcome, <%= current_user.username %></h2>
<h3> Your Listings </h3>

<p><% @listings.each do |listing| %>
    
    <% if listing.empty? %>
        <h1>You currently do not have any listings!</h1>
    <%else%>
        <div>
        <%= listing.content %>
        </div>
    <%end%>
     
<%end%>
<a href="/listings/new">Create New Listing</a><br><br>
<a href="/logout">Log Out</a><br>