
<style>
        ul {
            list-style-type: square;
        }
</style>

<p>
<h2>Please Log in:</h2>
        <ul>
            <li>To view the vehicle listings</li>
            <li>Message the seller</li>
            <li>Create or Edit listing(s)</li>
        </ul>
</p>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="submit">
</form>