
<style>
        .a {
            list-style-type: inside;
        }
</style>


<h2>Please Log in:</h2>
<p>
        <ul class = "a">
            <li>To view the vehicle listings</li>
            <li>To message the seller</li>
            <li>To create or edit listing(s)</li>
        </ul>
</p>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br><br>

    <input type="submit" value="Submit">
</form>